.customhead4 {
    font-size: 25px;
}

.customBtn4 {
    font-size: 20px !important;
}

.plusIcon1 {
    margin-bottom: 4px;
}

@media (min-width: 400px) {
    .customhead4 {
        font-size: 35px;
    }

    .customBtn4 {
        font-size: 25px !important;
    }
}

@media (min-width: 768px) {
    .customhead4 {
        font-size: 50px;
    }

    .customBtn4 {
        font-size: 32px !important;
    }
}
